:root {
  --color-fg: #333333;
  --color-bg-o: #dddddd;
  --color-bg-m: #FAFAFA;
  --color-border: #bbbbbb;
  --color-border2: #DCDDDE;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #aeb0b2;
    --color-bg-o: #21252b;
    --color-bg-m: #282c34;
    --color-border: #3f3f3f;
    --color-border2: #3C4049;
  }
}
body {
  color: var(--color-foregound);
  margin: 0;
  padding-right: 1px;
  padding-bottom: 1px;
  user-select: none;
  overflow: hidden;
  /* 避免意外的滑动效果 */
}
body div#app {
  --p: 0px;
  --br: 8px;
  width: calc(100% - var(--p) - var(--p) - 3px);
  height: calc(100vh - var(--p) - var(--p) - 3px);
  color: var(--color-fg);
  background-color: var(--color-bg-m);
  padding: var(--p);
  border: 1px solid var(--color-border);
  border-radius: var(--br);
  overflow: hidden;
}
body.maximized {
  padding: 0;
}
body.maximized div#app {
  border: none;
  border-radius: 0;
  width: calc(100% - var(--p) - var(--p));
  height: calc(100vh - var(--p) - var(--p));
}
.el-statistic__prefix,
.el-statistic__number,
.el-statistic__suffix {
  color: var(--color-fg) !important;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --hljs-timestamp: #008000;
  --hljs-category: #e57373;
  --hljs-nums: #0000FF;
  --hljs-pcl: #AF00DB;
}
@media (prefers-color-scheme: dark) {
  :root {
    --hljs-timestamp: #7f848e;
    --hljs-category: #6369e6;
    --hljs-nums: #d19a66;
    --hljs-pcl: #61AFEF;
  }
}
.hljs-timestamp {
  color: var(--hljs-timestamp);
  font-style: italic;
}
.hljs-category {
  color: var(--hljs-category);
}
.hljs-number,
.hljs-url,
.hljs-path,
.hljs-hash,
.hljs-uuid {
  color: var(--hljs-nums);
}
.hljs-version,
.hljs-idencode {
  color: var(--hljs-pcl);
}
